{% extends "base.html" %}    
{% block content %}
  <div class="message">
    {% if msg %}
    <div>
      <h2>{{msg}}</h2>
    </div>
    {% endif %}
              
    {% if song %}
    <div>
      <h2>{{song.title}}{% if song.year %} - {{song.year}} {% endif %}</h2>
      <p>{{song.artist}}</p>
    </div>
    {% endif %}
  </div>

  <div class="center">
      <div id="button" class="rect-btn" onclick="goBack()">
          <h2>Try Again?</h2>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
  function goBack() {
      window.location.href = window.location.origin;
  }
  </script>
  {{ super() }}
{% endblock %}